.video {
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  cursor: pointer;
}

.video > div {
 position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}