.footer {
  background-color: #333;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

@media (max-width: 480px) {
    .footer {
        font-size:12px
    }
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer .left {
  float: left;
}

.footer .left a {
  margin-left: 20px;
}

.footer .right {
  float: right;
}

.footer .right a {
  margin-right: 20px;
}

